<form action="{{ path_for('auth.sign-up') }}" method="POST" id="signupform" autocomplete="off">
    {{ csrf.fields | raw }}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-text {{ errors.firstname ? 'has-error' : '' }}">
                <input type="text" name="firstname" placeholder="Enter Your First Name" value="{{ input.firstname }}" required>
                {% if errors.firstname %}
                    <span class="help-block">{{ errors.firstname | first }}</span>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-text {{ errors.othernames ? 'has-error' : '' }}">
                <input type="text" name="othernames" placeholder="Enter Your Other Names" value="{{ input.othernames }}" required>
                {% if errors.othernames %}
                    <span class="help-block">{{ errors.othernames | first }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-text {{ errors.username ? 'has-error' : '' }}">
                <input type="text" name="username" placeholder="Enter A Preferred Username" value="{{ input.username }}" required>
                {% if errors.username %}
                    <span class="help-block">{{ errors.username | first }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-text {{ errors.email ? 'has-error' : '' }}">
                <input type="email" name="email" placeholder="Enter Your Email Address" value="{{ input.email }}" required>
                {% if errors.email %}
                    <span class="help-block">{{ errors.email | first }}</span>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-text {{ errors.phonenumber ? 'has-error' : '' }}">
                <input type="text" name="phonenumber" placeholder="Enter Your Phone Number" value="{{ input.phonenumber }}" required>
                {% if errors.phonenumber %}
                    <span class="help-block">{{ errors.phonenumber | first }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-text text-holder">
        <span class="text-only">By Sigining Up You Agree To Our <a href="terms-conditions">Terms &amp; Conditions</a></span>
    </div>

    <div class="form-button">
        <button id="submit" type="submit" class="ybtn ybtn-accent-color">Sign Up</button>
    </div>
</form>