<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Coin Wrapper - {{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap-slider.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/style.css">

    <link href='{{ base_url() }}/assets/img/logo.png' rel='icon'>
</head>
<body>
    
    {% block body %} {% endblock %}

    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap-slider.min.js"></script>
    <script src="{{ base_url() }}/assets/js/slick.min.js"></script>
    <script src="{{ base_url() }}/assets/js/main.js"></script>
</body>
</html>
