<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>{{ app.name }} - {{ pageTitle }}</title>
    {% if uri in ['not-found-404','not-allowed-405'] %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap-v4.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/uikit.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap.min.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/typicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/style.css">

    <link href='{{ base_url() }}/assets/img/logo.png' rel='icon'>
</head>
<body {{ bodyCSS ? "class=#{bodyCSS}" : '' }}>
    {% include 'partials/components/preloader.twig' %}
    {% block body %} 
        <div id="header-holder" class="dashboard-header {{ uri in ['dashboard','buy','sell','trade'] ? "navbar-fixed-top" : '' }}">
            {% include 'template/partials/html_blocks/navbar.twig' %}
        </div>
        <div id="dashboard" class="container">
            <div class="row">
                <div class="col-md-3">
                    <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                        {% include 'template/partials/html_blocks/sidebar.twig' %}
                    </div>
                </div>
                <div class="col-md-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'template/partials/html_blocks/footer.twig' %}
    {% endblock %}
    <script src="{{ base_url() }}/assets/js/swap.js"></script>
    <script src="{{ base_url() }}/../node_modules/vue-router/dist/vue-router.js"></script>
    <script src="{{ base_url() }}/assets/js/dashboard/{{ uri }}.js"></script>
    <script>var preloader = $("#preloader");preloader.fadeOut("slow");$("#app").fadeIn("slow");</script>
</body>
</html>