<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>{{ app.name }} - {{ pageTitle }}</title>
    {% if uri in ['not-found-404','not-allowed-405'] %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap-v4.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/uikit.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap.min.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/bootstrap-slider.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/style.css">

    <link href='{{ base_url() }}/assets/img/logo.png' rel='icon'>
</head>
<body {{ bodyCSS ? "class=#{bodyCSS}" : '' }}>
    
    {% block body %} {% endblock %}
    
    <script src="{{ base_url() }}/assets/js/swap.js"></script>
    {% block scripts %} {% endblock %}
    <script>//var preloader = $("#preloader");setTimeout( function(){ preloader.fadeOut("slow");$("body").fadeIn("slow");},7000);</script>
</body>
</html>
