{% if uri == 'sign-in' %}
    <div class="menu-holder">
        <ul class="main-links">
            <li class="hidden-xs"><a class="normal-link" href="{{ path_for('auth.sign-up') }}">Don’t have an account?</a></li>
            <li><a class="sign-button" href="{{ path_for('auth.sign-up') }}">Sign up</a></li>
        </ul>
    </div> 
{% endif %}

{% if uri == 'sign-up' %}
    <div class="menu-holder">
        <ul class="main-links">
            <li class="hidden-xs"><a class="normal-link" href="{{ path_for('auth.sign-in') }}">You have an account?</a></li>
            <li><a class="sign-button" href="{{ path_for('auth.sign-in') }}">Sign in</a></li>
        </ul>
    </div>
{% endif %}

{% if uri == 'activate' %}
    <div class="menu-holder">
        <ul class="main-links">
            <li><a class="normal-link" href="{{ path_for('terms-of-service') }}">You can read Our Terms of Service</a></li>
            <li><a class="sign-button" href="{{ path_for('terms-of-service') }}">Read</a></li>
        </ul>
    </div>
{% endif %}