{% if uri != 'activate' %}
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-menu-holder">
                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="{{ path_for('about-us') }}">About Us</a></li>
                        <li><a href="{{ path_for('contact-us') }}">Contact Us</a></li>
                        <li><a href="{{ path_for('faqs') }}">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other</h4>
                    <ul class="footer-menu">
                        <li><a href="{{ path_for('terms-of-service') }}">Terms of Service</a></li>
                        <li><a href="">Whitepaper</a></li>
                        <li><a href="">Developer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address-holder">
                    <div class="phone"><a href=""><i class="fa fa-phone"></i> +233 00 000 0000</a></div>
                    <div class="email"><a href=""><i class="fa fa-envelope"></i> info@coin-wrapper.com</a></div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Coin Wrapper, Office 1000,<br>
                            In the night,  I hear talk,<br>
                            Ghana.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-medium"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if uri == 'activate' %}
<nav class="navbar navbar-static-bottom custom-footer">
    <div class="container">
        <p class="navbar-text"><a href="{{ path_for('home') }}">Coin Wrapper</a> <span>&copy; {{ "now" | date("Y") }}</span></p>
        <div class="navbar-right">
            <a href="{{ path_for('about-us') }}" class="navbar-text">About Us</a>
            <a href="{{ path_for('contact-us') }}" class="navbar-text">Contact Us</a>
            <a href="{{ path_for('faqs') }}" class="navbar-text">FAQs</a>
            <a href="{{ path_for('terms-of-service') }}" class="navbar-text">Terms of Service</a>
            <a href="" class="navbar-text">Whitepaper</a>
        </div>
    </div>
</nav>
{% endif %}