<nav id="nav" class="navbar navbar-default navbar-full">
    <div class="container-fluid">
        <div class="container container-nav">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-holder" href="{{ path_for('home') }}">
                            <div class="logo" style="width:50px;height:50px"></div>
                        </a>
                    </div>
                    {% if user.checkSession %}
                    <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            {% if uri in ['home', 'buy-sell', 'about-us', 'contact-us'] %}
                            <li><a href="{{ path_for('home') }}">{{ app.name }}</a></li>
                            <li><a href="{{ path_for('buy-sell') }}">Buy/Sell</a></li>
                            <li><a href="{{ path_for('about-us') }}">About Us</a></li>
                            <li><a href="{{ path_for('contact-us') }}">Contact Us</a></li>
                            <li class="signin-button-holder">
                                <a class="signin-button" href="{{ path_for('app.dashboard') }}">My Swap Dashboard</a>
                            </li>
                            {% else %}
                            <li class="dropdown">
                                <a href="#">
                                    {{ user.userSession.user_id }} <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path_for('app.account-settings') }}">Account Settings</a></li>
                                    <li><a href="{{ path_for('app.help') }}">Help</a></li>
                                    <li><a href="{{ path_for('auth.sign-out') }}">Sign Out</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% else %}
                    <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path_for('home') }}">{{ app.name }}</a></li>
                            <li><a href="{{ path_for('buy-sell') }}">Buy/Sell</a></li>
                            <li><a href="{{ path_for('about-us') }}">About Us</a></li>
                            <li><a href="{{ path_for('contact-us') }}">Contact Us</a></li>
                            <li class="signin-button-holder">
                                <a class="signin-button" href="{{ path_for('auth.sign-in') }}">Sign In</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>