<ul class="nav nav-pills nav-stacked">
    <li role="presentation">
        <a href="{{ path_for('app.dashboard') }}">
            <i class="typcn typcn-home-outline"></i>
            Dashboard
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path_for('app.buy-sell') }}">
            <i class="typcn typcn-arrow-repeat"></i>
            Buy/Sell
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path_for('app.trade') }}">
            <i class="typcn typcn-flow-children"></i>
            Post Ad
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path_for('app.wallet') }}">
            <i class="typcn typcn-archive"></i>
            Wallet
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path_for('app.account-settings') }}">
            <i class="typcn typcn-cog-outline"></i>
            Settings
        </a>
    </li>
</ul>